@import url(https://fonts.googleapis.com/css?family=Raleway);
.img{
 
    border-radius: 50%;
    width: 250px;
    height:250px;
    margin-left :10%;
    margin-top:3%;
}
.nom{
    margin-top:-12%;
    margin-left:40%;
    font-size: 70px;
    font-weight: bolder;
}
#text{
    font-family: Raleway;
}
.ecole{
    margin-left:40%;
    font-size: 40px;
    font-weight: bolder;
    color:#c8aa8c;
} 
.travail{

   text-align: center;
}