body {
    background: url('/home/Perso/img/bkgrnd.webp') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.images-container {
    position: absolute;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.images-container img {
    width: 100%;
    cursor: pointer;
}

.content-container {
    position: absolute;
    width: 70%;
    padding: 20px;
    border-left: 2px solid #ccc;
}

.content {
    display: none;
}

.content.active {
    display: block;
}